<app-nav-start></app-nav-start>
<div
  *ngIf="showModalAdd"
  class="overflow-x-hidden overflow-y-auto bg-four_palette fixed inset-0 z-50 outline-none focus:outline-none justify-center items-center flex"
>
  <div class="relative w-auto my-6 mx-auto max-w-6xl">
    <!--content-->
    <div
      class="border-0 rounded-lg shadow-lg relative flex flex-col w-full bg-white outline-none focus:outline-none"
    >
      <!--header-->
      <div
        class="flex items-start justify-between p-5 border-b border-solid border-slate-200 rounded-t"
      >
        <h3 class="text-3xl font-semibold">Agregar Empleado</h3>
        <button
          class="p-1 ml-auto bg-transparent border-0 text-black opacity-5 float-right text-3xl leading-none font-semibold outline-none focus:outline-none"
          (click)="toggleModalAdd()"
        >
          <span
            class="bg-transparent text-black opacity-5 h-6 w-6 text-2xl block outline-none focus:outline-none"
          >
            ×
          </span>
        </button>
      </div>
      <!--body-->
      <form
        [formGroup]="myRegistrarEmpleadosForm"
        (ngSubmit)="CreateEmploy(myRegistrarEmpleadosForm)"
      >
        <div class="shadow overflow-hidden sm:rounded-md">
          <div class="px-4 py-5 sm:p-6">
            <div class="grid grid-cols-6 gap-6">
              <div class="col-span-6 sm:col-span-3">
                <label
                  for="first-name"
                  class="block text-sm font-medium text-gray-700"
                  >Nombre</label
                >
                <input
                  type="text"
                  name="Nombre"
                  size="30"
                  minlength="1"
                  maxlength="30"
                  required
                  id="Nombre"
                  formControlName="Nombre"
                  autocomplete="given-name"
                  class="form-control block w-full px-3 py-1.5 text-base font-normal text-gray-700 bg-white bg-clip-padding border border-solid border-gray-300 rounded transition ease-in-out m-0 focus:text-gray-700 focus:bg-white focus:border-blue-600 focus:outline-none"
                />
              </div>

              <div class="col-span-6 sm:col-span-3">
                <label
                  for="last-name"
                  class="block text-sm font-medium text-gray-700"
                  >Apellido</label
                >
                <input
                  type="text"
                  name="Apellido"
                  id="Apellido"
                  size="30"
                  minlength="1"
                  maxlength="30"
                  required
                  formControlName="Apellido"
                  autocomplete="family-name"
                  class="form-control block w-full px-3 py-1.5 text-base font-normal text-gray-700 bg-white bg-clip-padding border border-solid border-gray-300 rounded transition ease-in-out m-0 focus:text-gray-700 focus:bg-white focus:border-blue-600 focus:outline-none"
                />
              </div>
              <div class="col-span-6 sm:col-span-3">
                <label
                  for="first-name"
                  class="block text-sm font-medium text-gray-700"
                  >Cedula</label
                >
                <input
                  type="text"
                  name="Cedula"
                  required
                  size="11"
                  minlength="11"
                  maxlength="11"
                  formControlName="Cedula"
                  id="Cedula"
                  autocomplete="given-name"
                  class="form-control block w-full px-3 py-1.5 text-base font-normal text-gray-700 bg-white bg-clip-padding border border-solid border-gray-300 rounded transition ease-in-out m-0 focus:text-gray-700 focus:bg-white focus:border-blue-600 focus:outline-none"
                />
              </div>

              <div class="col-span-6 sm:col-span-3">
                <label
                  for="Direccion"
                  class="block text-sm font-medium text-gray-700"
                  >Direccion</label
                >
                <input
                  type="text"
                  name="Direccion"
                  id="Direccion"
                  size="100"
                  minlength="1"
                  maxlength="100"
                  required
                  formControlName="Direccion"
                  autocomplete="family-name"
                  class="form-control block w-full px-3 py-1.5 text-base font-normal text-gray-700 bg-white bg-clip-padding border border-solid border-gray-300 rounded transition ease-in-out m-0 focus:text-gray-700 focus:bg-white focus:border-blue-600 focus:outline-none"
                />
              </div>

              <div class="col-span-6 sm:col-span-6 lg:col-span-2">
                <label
                  for="Nacionalidad"
                  class="block text-sm font-medium text-gray-700"
                  >Nacionalidad</label
                >
                <input
                  type="text"
                  name="Nacionalidad"
                  required
                  size="30"
                  minlength="1"
                  maxlength="30"
                  id="Nacionalidad"
                  formControlName="Nacionalidad"
                  autocomplete="address-level2"
                  class="form-control block w-full px-3 py-1.5 text-base font-normal text-gray-700 bg-white bg-clip-padding border border-solid border-gray-300 rounded transition ease-in-out m-0 focus:text-gray-700 focus:bg-white focus:border-blue-600 focus:outline-none"
                />
              </div>

              <div class="col-span-6 sm:col-span-3 lg:col-span-2">
                <label
                  for="EstadoCivil"
                  class="block text-sm font-medium text-gray-700"
                  >EstadoCivil</label
                >
                <select
                  id="country"
                  name="country"
                  required
                  formControlName="EstadoCivil"
                  autocomplete="country-name"
                  class="form-control block w-full px-3 py-1.5 text-base font-normal text-gray-700 bg-white bg-clip-padding border border-solid border-gray-300 rounded transition ease-in-out m-0 focus:text-gray-700 focus:bg-white focus:border-blue-600 focus:outline-none"
                >
                  <option>C</option>
                  <option>S</option>
                </select>
              </div>

              <div class="col-span-6 sm:col-span-3 lg:col-span-2">
                <label
                  for="Sexo"
                  class="block text-sm font-medium text-gray-700"
                  >Sexo</label
                >
                <select
                  id="country"
                  name="country"
                  required
                  formControlName="Sexo"
                  autocomplete="country-name"
                  class="form-control block w-full px-3 py-1.5 text-base font-normal text-gray-700 bg-white bg-clip-padding border border-solid border-gray-300 rounded transition ease-in-out m-0 focus:text-gray-700 focus:bg-white focus:border-blue-600 focus:outline-none"
                >
                  <option>M</option>
                  <option>F</option>
                </select>
              </div>
              <div class="col-span-6 sm:col-span-4">
                <label
                  for="Telefono"
                  class="block text-sm font-medium text-gray-700"
                  >Telefono</label
                >
                <input
                  type="number"
                  name="Telefono"
                  id="Telefono"
                  oninput="javascript: if (this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);"
                  maxlength="10"
                  required
                  formControlName="Telefono"
                  autocomplete="number"
                  class="form-control block w-full px-3 py-1.5 text-base font-normal text-gray-700 bg-white bg-clip-padding border border-solid border-gray-300 rounded transition ease-in-out m-0 focus:text-gray-700 focus:bg-white focus:border-blue-600 focus:outline-none"
                />
              </div>
              <div class="col-span-6 sm:col-span-6 lg:col-span-2">
                <label
                  for="FechaNacimiento"
                  class="block text-sm font-medium text-gray-700"
                  >Fecha de nacimiento</label
                >
                <input
                  type="date"
                  name="FechaNacimiento"
                  required
                  formControlName="FechaNacimiento"
                  id="FechaNacimiento"
                  autocomplete="address-level2"
                  class="form-control block w-full px-3 py-1.5 text-base font-normal text-gray-700 bg-white bg-clip-padding border border-solid border-gray-300 rounded transition ease-in-out m-0 focus:text-gray-700 focus:bg-white focus:border-blue-600 focus:outline-none"
                />
              </div>
              <div class="col-span-6 sm:col-span-6 lg:col-span-2">
                <label
                  for="Salario"
                  class="block text-sm font-medium text-gray-700"
                  >Salario</label
                >
                <input
                  type="number"
                  name="Salario"
                  id="Salario"
                  oninput="javascript: if (this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);"
                  maxlength="6"
                  required
                  formControlName="Salario"
                  class="form-control block w-full px-3 py-1.5 text-base font-normal text-gray-700 bg-white bg-clip-padding border border-solid border-gray-300 rounded transition ease-in-out m-0 focus:text-gray-700 focus:bg-white focus:border-blue-600 focus:outline-none"
                />
              </div>
              <div class="col-span-6 sm:col-span-3 lg:col-span-2">
                <label
                  for="HorasSalario"
                  class="block text-sm font-medium text-gray-700"
                  >Horas x Salario</label
                >
                <input
                  type="number"
                  name="HorasSalario"
                  id="HorasSalario"
                  oninput="javascript: if (this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);"
                  maxlength="8"
                  required
                  formControlName="HorasSalario"
                  autocomplete="address-level1"
                  class="form-control block w-full px-3 py-1.5 text-base font-normal text-gray-700 bg-white bg-clip-padding border border-solid border-gray-300 rounded transition ease-in-out m-0 focus:text-gray-700 focus:bg-white focus:border-blue-600 focus:outline-none"
                />
              </div>
              <div class="col-span-6 sm:col-span-3 lg:col-span-2">
                <label
                  for="Sexo"
                  class="block text-sm font-medium text-gray-700"
                  >Tipos de empleados</label
                >
                <select
                  id="idTipoEmpleado"
                  name="idTipoEmpleado"
                  required
                  formControlName="idTipoEmpleado"
                  autocomplete="idTipoEmpleado"
                  class="form-control block w-full px-3 py-1.5 text-base font-normal text-gray-700 bg-white bg-clip-padding border border-solid border-gray-300 rounded transition ease-in-out m-0 focus:text-gray-700 focus:bg-white focus:border-blue-600 focus:outline-none"
                >
                  <option
                    *ngFor="let tipos of TiposDeEmpleados | async"
                    [value]="tipos.idTipoEmpleado"
                  >
                    {{ tipos.descripcion }}
                  </option>
                </select>
              </div>
              <div class="col-span-6 sm:col-span-3 lg:col-span-2">
                <label
                  for="Sexo"
                  class="block text-sm font-medium text-gray-700"
                  >Departamentos</label
                >
                <select
                  id="Departamentos"
                  name="Departamentos"
                  required
                  formControlName="idDepartamento"
                  autocomplete="Departamentos"
                  class="form-control block w-full px-3 py-1.5 text-base font-normal text-gray-700 bg-white bg-clip-padding border border-solid border-gray-300 rounded transition ease-in-out m-0 focus:text-gray-700 focus:bg-white focus:border-blue-600 focus:outline-none"
                >
                  <option
                    *ngFor="let depart of TiposDeDepartamentos | async"
                    [value]="depart.idDepartamento"
                  >
                    {{ depart.descripcion }}
                  </option>
                </select>
              </div>
              <div class="col-span-6 sm:col-span-3 lg:col-span-2">
                <label
                  for="Horarios"
                  class="block text-sm font-medium text-gray-700"
                  >Horarios</label
                >
                <select
                  id="Horarios"
                  name="Horarios"
                  required
                  formControlName="idHorario"
                  autocomplete="Horarios"
                  class="form-control block w-full px-3 py-1.5 text-base font-normal text-gray-700 bg-white bg-clip-padding border border-solid border-gray-300 rounded transition ease-in-out m-0 focus:text-gray-700 focus:bg-white focus:border-blue-600 focus:outline-none"
                >
                  <option
                    *ngFor="let horario of Horarios | async"
                    [value]="horario.idHorario"
                  >
                    {{ horario.descripcion }}
                  </option>
                </select>
              </div>
              <div class="col-span-6 sm:col-span-3 lg:col-span-2">
                <label
                  for="Rolles"
                  class="block text-sm font-medium text-gray-700"
                  >Roles</label
                >
                <select
                  id="Rolles"
                  name="Rolles"
                  required
                  formControlName="idRoll"
                  autocomplete="Roles"
                  class="form-control block w-full px-3 py-1.5 text-base font-normal text-gray-700 bg-white bg-clip-padding border border-solid border-gray-300 rounded transition ease-in-out m-0 focus:text-gray-700 focus:bg-white focus:border-blue-600 focus:outline-none"
                >
                  <option
                    *ngFor="let rol of Rolles | async"
                    [value]="rol.idRoll"
                  >
                    {{ rol.descripcion }}
                  </option>
                </select>
              </div>
              <!--before here-->
            </div>
          </div>
        </div>
        <div class="px-4 py-3 bg-gray-50 text-right sm:px-6">
          <button
            class="text-red-500 background-transparent font-bold uppercase px-6 py-2 text-sm outline-none focus:outline-none mr-1 mb-1 ease-linear transition-all duration-150"
            type="button"
            (click)="toggleModalAdd()"
          >
            Close
          </button>
          <button
            type="submit"
            class="inline-flex justify-center py-2 px-4 border border-transparent shadow-sm text-sm font-medium rounded-md text-white bg-green-600 hover:bg-green-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-green-500"
          >
            Save
          </button>
        </div>
      </form>
    </div>
  </div>
</div>

<div
  *ngIf="showModalUpdate"
  class="overflow-x-hidden overflow-y-auto bg-four_palette fixed inset-0 z-50 outline-none focus:outline-none justify-center items-center flex"
>
  <div class="relative w-auto my-6 mx-auto max-w-6xl">
    <!--content-->
    <div
      class="border-0 rounded-lg shadow-lg relative flex flex-col w-full bg-white outline-none focus:outline-none"
    >
      <!--header-->
      <div
        class="flex items-start justify-between p-5 border-b border-solid border-slate-200 rounded-t"
      >
        <h3 class="text-3xl font-semibold">Actualizar Empleado</h3>
        <button
          class="p-1 ml-auto bg-transparent border-0 text-black opacity-5 float-right text-3xl leading-none font-semibold outline-none focus:outline-none"
          (click)="toggleModalUpdate()"
        >
          <span
            class="bg-transparent text-black opacity-5 h-6 w-6 text-2xl block outline-none focus:outline-none"
          >
            ×
          </span>
        </button>
      </div>
      <!--body-->
      <form
        [formGroup]="UpdateEmpleadosForm"
        (ngSubmit)="UpdateEmploy(UpdateEmpleadosForm)"
      >
        <div class="relative p-6 flex-auto">
          <div class="shadow overflow-hidden sm:rounded-md">
            <div class="px-4 py-5 bg-white sm:p-6">
              <div class="grid grid-cols-6 gap-6">
                <div class="col-span-6 hidden sm:col-span-3">
                  <label
                    for="first-name"
                    class="block text-sm font-medium text-gray-700"
                    >id</label
                  >
                  <input
                    type="text"
                    name="Nombre"
                    size="30"
                    minlength="1"
                    maxlength="30"
                    required
                    id="id"
                    formControlName="id"
                    autocomplete="given-name"
                    class="form-control block w-full px-3 py-1.5 text-base font-normal text-gray-700 bg-white bg-clip-padding border border-solid border-gray-300 rounded transition ease-in-out m-0 focus:text-gray-700 focus:bg-white focus:border-blue-600 focus:outline-none"
                  />
                </div>

                <div class="col-span-6 sm:col-span-3">
                  <label
                    for="first-name"
                    class="block text-sm font-medium text-gray-700"
                    >Nombre</label
                  >
                  <input
                    type="text"
                    name="Nombre"
                    size="30"
                    minlength="1"
                    maxlength="30"
                    required
                    id="Nombre"
                    formControlName="Nombre"
                    autocomplete="given-name"
                    class="form-control block w-full px-3 py-1.5 text-base font-normal text-gray-700 bg-white bg-clip-padding border border-solid border-gray-300 rounded transition ease-in-out m-0 focus:text-gray-700 focus:bg-white focus:border-blue-600 focus:outline-none"
                  />
                </div>

                <div class="col-span-6 sm:col-span-3">
                  <label
                    for="last-name"
                    class="block text-sm font-medium text-gray-700"
                    >Apellido</label
                  >
                  <input
                    type="text"
                    name="Apellido"
                    id="Apellido"
                    size="30"
                    minlength="1"
                    maxlength="30"
                    required
                    formControlName="Apellido"
                    autocomplete="family-name"
                    class="form-control block w-full px-3 py-1.5 text-base font-normal text-gray-700 bg-white bg-clip-padding border border-solid border-gray-300 rounded transition ease-in-out m-0 focus:text-gray-700 focus:bg-white focus:border-blue-600 focus:outline-none"
                  />
                </div>
                <div class="col-span-6 sm:col-span-3">
                  <label
                    for="first-name"
                    class="block text-sm font-medium text-gray-700"
                    >Cedula</label
                  >
                  <input
                    type="text"
                    name="Cedula"
                    required
                    size="11"
                    minlength="11"
                    maxlength="11"
                    formControlName="Cedula"
                    id="Cedula"
                    autocomplete="given-name"
                    class="form-control block w-full px-3 py-1.5 text-base font-normal text-gray-700 bg-white bg-clip-padding border border-solid border-gray-300 rounded transition ease-in-out m-0 focus:text-gray-700 focus:bg-white focus:border-blue-600 focus:outline-none"
                  />
                </div>

                <div class="col-span-6 sm:col-span-3">
                  <label
                    for="Direccion"
                    class="block text-sm font-medium text-gray-700"
                    >Direccion</label
                  >
                  <input
                    type="text"
                    name="Direccion"
                    id="Direccion"
                    size="100"
                    minlength="1"
                    maxlength="100"
                    required
                    formControlName="Direccion"
                    autocomplete="family-name"
                    class="form-control block w-full px-3 py-1.5 text-base font-normal text-gray-700 bg-white bg-clip-padding border border-solid border-gray-300 rounded transition ease-in-out m-0 focus:text-gray-700 focus:bg-white focus:border-blue-600 focus:outline-none"
                  />
                </div>

                <div class="col-span-6 sm:col-span-6 lg:col-span-2">
                  <label
                    for="Nacionalidad"
                    class="block text-sm font-medium text-gray-700"
                    >Nacionalidad</label
                  >
                  <input
                    type="text"
                    name="Nacionalidad"
                    required
                    size="30"
                    minlength="1"
                    maxlength="30"
                    id="Nacionalidad"
                    formControlName="Nacionalidad"
                    autocomplete="address-level2"
                    class="form-control block w-full px-3 py-1.5 text-base font-normal text-gray-700 bg-white bg-clip-padding border border-solid border-gray-300 rounded transition ease-in-out m-0 focus:text-gray-700 focus:bg-white focus:border-blue-600 focus:outline-none"
                  />
                </div>

                <div class="col-span-6 sm:col-span-3 lg:col-span-2">
                  <label
                    for="EstadoCivil"
                    class="block text-sm font-medium text-gray-700"
                    >EstadoCivil</label
                  >
                  <select
                    id="country"
                    name="country"
                    required
                    formControlName="EstadoCivil"
                    autocomplete="country-name"
                    class="form-control block w-full px-3 py-1.5 text-base font-normal text-gray-700 bg-white bg-clip-padding border border-solid border-gray-300 rounded transition ease-in-out m-0 focus:text-gray-700 focus:bg-white focus:border-blue-600 focus:outline-none"
                  >
                    <option>C</option>
                    <option>S</option>
                  </select>
                </div>

                <div class="col-span-6 sm:col-span-3 lg:col-span-2">
                  <label
                    for="Sexo"
                    class="block text-sm font-medium text-gray-700"
                    >Sexo</label
                  >
                  <select
                    id="country"
                    name="country"
                    required
                    formControlName="Sexo"
                    autocomplete="country-name"
                    class="form-control block w-full px-3 py-1.5 text-base font-normal text-gray-700 bg-white bg-clip-padding border border-solid border-gray-300 rounded transition ease-in-out m-0 focus:text-gray-700 focus:bg-white focus:border-blue-600 focus:outline-none"
                  >
                    <option>M</option>
                    <option>F</option>
                  </select>
                </div>
                <div class="col-span-6 sm:col-span-4">
                  <label
                    for="Telefono"
                    class="block text-sm font-medium text-gray-700"
                    >Telefono</label
                  >
                  <input
                    type="number"
                    name="Telefono"
                    id="Telefono"
                    oninput="javascript: if (this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);"
                    maxlength="10"
                    required
                    formControlName="Telefono"
                    autocomplete="number"
                    class="form-control block w-full px-3 py-1.5 text-base font-normal text-gray-700 bg-white bg-clip-padding border border-solid border-gray-300 rounded transition ease-in-out m-0 focus:text-gray-700 focus:bg-white focus:border-blue-600 focus:outline-none"
                  />
                </div>
                <div class="col-span-6 sm:col-span-6 lg:col-span-2">
                  <label
                    for="FechaNacimiento"
                    class="block text-sm font-medium text-gray-700"
                    >Fecha de nacimiento</label
                  >
                  <input
                    type="date"
                    name="FechaNacimiento"
                    required
                    formControlName="FechaNacimiento"
                    id="FechaNacimiento"
                    autocomplete="address-level2"
                    class="form-control block w-full px-3 py-1.5 text-base font-normal text-gray-700 bg-white bg-clip-padding border border-solid border-gray-300 rounded transition ease-in-out m-0 focus:text-gray-700 focus:bg-white focus:border-blue-600 focus:outline-none"
                  />
                </div>
                <div class="col-span-6 sm:col-span-6 lg:col-span-2">
                  <label
                    for="Salario"
                    class="block text-sm font-medium text-gray-700"
                    >Salario</label
                  >
                  <input
                    type="number"
                    name="Salario"
                    id="Salario"
                    oninput="javascript: if (this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);"
                    maxlength="6"
                    required
                    formControlName="Salario"
                    class="form-control block w-full px-3 py-1.5 text-base font-normal text-gray-700 bg-white bg-clip-padding border border-solid border-gray-300 rounded transition ease-in-out m-0 focus:text-gray-700 focus:bg-white focus:border-blue-600 focus:outline-none"
                  />
                </div>
                <div class="col-span-6 sm:col-span-3 lg:col-span-2">
                  <label
                    for="HorasSalario"
                    class="block text-sm font-medium text-gray-700"
                    >Horas x Salario</label
                  >
                  <input
                    type="number"
                    name="HorasSalario"
                    id="HorasSalario"
                    oninput="javascript: if (this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);"
                    maxlength="8"
                    required
                    formControlName="HorasSalario"
                    autocomplete="address-level1"
                    class="form-control block w-full px-3 py-1.5 text-base font-normal text-gray-700 bg-white bg-clip-padding border border-solid border-gray-300 rounded transition ease-in-out m-0 focus:text-gray-700 focus:bg-white focus:border-blue-600 focus:outline-none"
                  />
                </div>
                <div class="col-span-6 sm:col-span-3 lg:col-span-2">
                  <label
                    for="Sexo"
                    class="block text-sm font-medium text-gray-700"
                    >Tipos de empleados</label
                  >
                  <select
                    id="idTipoEmpleado"
                    name="idTipoEmpleado"
                    required
                    formControlName="idTipoEmpleado"
                    autocomplete="idTipoEmpleado"
                    class="form-control block w-full px-3 py-1.5 text-base font-normal text-gray-700 bg-white bg-clip-padding border border-solid border-gray-300 rounded transition ease-in-out m-0 focus:text-gray-700 focus:bg-white focus:border-blue-600 focus:outline-none"
                  >
                    <option
                      *ngFor="let tipos of TiposDeEmpleados | async"
                      [value]="tipos.idTipoEmpleado"
                    >
                      {{ tipos.descripcion }}
                    </option>
                  </select>
                </div>
                <div class="col-span-6 sm:col-span-3 lg:col-span-2">
                  <label
                    for="Sexo"
                    class="block text-sm font-medium text-gray-700"
                    >Departamentos</label
                  >
                  <select
                    id="Departamentos"
                    name="Departamentos"
                    required
                    formControlName="idDepartamento"
                    autocomplete="Departamentos"
                    class="form-control block w-full px-3 py-1.5 text-base font-normal text-gray-700 bg-white bg-clip-padding border border-solid border-gray-300 rounded transition ease-in-out m-0 focus:text-gray-700 focus:bg-white focus:border-blue-600 focus:outline-none"
                  >
                    <option
                      *ngFor="let depart of TiposDeDepartamentos | async"
                      [value]="depart.idDepartamento"
                    >
                      {{ depart.descripcion }}
                    </option>
                  </select>
                </div>
                <div class="col-span-6 sm:col-span-3 lg:col-span-2">
                  <label
                    for="Horarios"
                    class="block text-sm font-medium text-gray-700"
                    >Horarios</label
                  >
                  <select
                    id="Horarios"
                    name="Horarios"
                    required
                    formControlName="idHorario"
                    autocomplete="Horarios"
                    class="form-control block w-full px-3 py-1.5 text-base font-normal text-gray-700 bg-white bg-clip-padding border border-solid border-gray-300 rounded transition ease-in-out m-0 focus:text-gray-700 focus:bg-white focus:border-blue-600 focus:outline-none"
                  >
                    <option
                      *ngFor="let horario of Horarios | async"
                      [value]="horario.idHorario"
                    >
                      {{ horario.descripcion }}
                    </option>
                  </select>
                </div>
                <div class="col-span-6 sm:col-span-3 lg:col-span-2">
                  <label
                    for="Rolles"
                    class="block text-sm font-medium text-gray-700"
                    >Roles</label
                  >
                  <select
                    id="Rolles"
                    name="Rolles"
                    required
                    formControlName="idRoll"
                    autocomplete="Roles"
                    class="form-control block w-full px-3 py-1.5 text-base font-normal text-gray-700 bg-white bg-clip-padding border border-solid border-gray-300 rounded transition ease-in-out m-0 focus:text-gray-700 focus:bg-white focus:border-blue-600 focus:outline-none"
                  >
                    <option
                      *ngFor="let rol of Rolles | async"
                      [value]="rol.idRoll"
                    >
                      {{ rol.descripcion }}
                    </option>
                  </select>
                </div>
                <!--before here-->
              </div>
            </div>
            <div class="px-4 py-3 bg-gray-50 text-right sm:px-6"></div>
          </div>
        </div>
        <!--footer-->
        <div
          class="flex items-center justify-end p-6 border-t border-solid border-slate-200 rounded-b"
        >
          <button
            class="text-red-500 background-transparent font-bold uppercase px-6 py-2 text-sm outline-none focus:outline-none mr-1 mb-1 ease-linear transition-all duration-150"
            type="button"
            (click)="toggleModalUpdate()"
          >
            Close
          </button>
          <button
            type="submit"
            class="inline-flex justify-center py-2 px-4 mb-3 border border-transparent shadow-sm text-sm font-medium rounded-md text-white bg-indigo-600 hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500"
          >
            Actualizar Cambios
          </button>
        </div>
      </form>
    </div>
  </div>
</div>

<div
  *ngIf="showModalUpdate"
  class="opacity-25 fixed inset-0 z-40 bg-black"
></div>
<!-- Login section -->
<section id="Registrar" class="mx-auto content-center">
  <div class="mt-5 w-9/12 mx-auto md:mt-0 md:col-span-2"></div>
</section>

<div class="w-100 mr-4 mt-4 flex flex-row-reverse">
  <a
    class="inline-flex justify-center py-2 px-4 mb-3 border border-transparent shadow-sm text-sm font-medium rounded-md text-white bg-green-600 hover:bg-green-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-green-500"
    (click)="toggleModalAdd()"
    >Agregar</a
  >
</div>
<section id="Table Section" class="w-1/1 mx-1 mx-auto">
  <div class="overflow-x-auto relative shadow-md sm:rounded-lg">
    <table class="w-full text-sm text-left text-gray-500 dark:text-gray-400">
      <thead
        class="text-xs text-white uppercase bg-one_palette dark:bg-gray-700 dark:text-gray-400"
      >
        <tr>
          <th scope="col" class="py-3 px-6">ID</th>
          <th scope="col" class="py-3 px-6">Nombre</th>
          <th scope="col" class="py-3 px-6">Apellido</th>
          <th scope="col" class="py-3 px-6">Cedula</th>
          <th scope="col" class="py-3 px-6">Direccion</th>
          <th scope="col" class="py-3 px-6">Nacionalidad</th>
          <th scope="col" class="py-3 px-6">Telefono</th>
          <th scope="col" class="py-3 px-6">Estado Civil</th>
          <th scope="col" class="py-3 px-6">Sexo</th>
          <th scope="col" class="py-3 px-6">Fecha de nacimiento</th>
          <th scope="col" class="py-3 px-6">Salario</th>
          <th scope="col" class="py-3 px-6">Horas x Salario</th>
          <th scope="col" class="py-3 px-6">Accciones</th>
        </tr>
      </thead>
      <tbody>
        <tr
          class="bg-gray-50 border-b dark:bg-gray-800 dark:border-gray-700"
          *ngFor="let empleado of Empleados | async"
        >
          <th scope="row" class="py-4 px-6 font-medium whitespace-nowrap">
            {{ empleado.idEmpleado }}
          </th>
          <td class="py-4 px-6">{{ empleado.nombre }}</td>
          <td class="py-4 px-6">{{ empleado.apellido }}</td>
          <td class="py-4 px-6">{{ empleado.cedula }}</td>
          <td class="py-4 px-6">{{ empleado.direccion }}</td>
          <td class="py-4 px-6">{{ empleado.nacionalidad }}</td>
          <td class="py-4 px-6">{{ empleado.telefono }}</td>
          <td class="py-4 px-6">{{ empleado.estadoCivil }}</td>
          <td class="py-4 px-6">{{ empleado.sexo }}</td>
          <td class="py-4 px-6">{{ empleado.fechaNacimiento }}</td>
          <td class="py-4 px-6">{{ empleado.salario }}</td>
          <td class="py-4 px-6">{{ empleado.horasSalario }}</td>
          <td class="py-4 px-6">
            <a
              class="inline-flex justify-center py-2 px-4 mb-3 border border-transparent shadow-sm text-sm font-medium rounded-md text-white bg-indigo-600 hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500"
              (click)="toggleModalUpdate()"
              (click)="fillUpdateEmpleadosForm(empleado)"
              >Editar</a
            ><a
              (click)="DeleteEmploy(empleado.idEmpleado)"
              class="inline-flex justify-center py-2 px-4 border border-transparent shadow-sm text-sm font-medium rounded-md text-white bg-red-600 hover:bg-red-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-red-500"
              >Eliminar</a
            >
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</section>
