<app-nav-start></app-nav-start>
<section id="register" class="ml-8 w-2/6">
  <div>
    <h2 class="text-3xl">¿Necesitas vacaciones?</h2>
    <h2 class="text-3xl">Estamos aquí para ti</h2>
    <p class="mt-6">La manera más facíl y dinamica de poder gestionar tus vacaciones al alcance de un solo click.</p>
  </div>
  <div class="flex flex-row my-4">
    <button class="w-2/5 text-white px-6 py-2 rounded-2xl bg-royal"><a href="/login">¡Iniciar Sesión!</a></button>
  </div>
</section>
<div class="custom-shape-divider-top-1659918374">
  <svg
    data-name="Layer 1"
    xmlns="http://www.w3.org/2000/svg"
    viewBox="0 0 1200 120"
    preserveAspectRatio="none"
  >
  </svg>
</div>
